<main class="main">
  
  <div class="content">
    <div class="left-side">
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
    
   </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a class="pill" routerLink="text-interpolation" routerLinkActive="active-pill"><span>Text Interpolation Component</span></a>
        <a class="pill" routerLink="property-binding"   routerLinkActive="active-pill"><span>Property Binding Component</span></a>
        <a class="pill" routerLink="attribute-binding"  routerLinkActive="active-pill"><span>Attribute Binding Component</span></a>
        <a class="pill" routerLink="two-way-binding"    routerLinkActive="active-pill"><span>TwoWay Binding Component</span></a>
        <a class="pill" routerLink="event-binding"      routerLinkActive="active-pill"><span>Event Binding Component</span></a>
        <a class="pill" routerLink="input-binding"      routerLinkActive="active-pill"><span>Input Binding Component</span></a>
        <a class="pill" routerLink="output-binding"     routerLinkActive="active-pill"><span>Output Binding Component</span></a>
        <a class="pill" routerLink="hello"              routerLinkActive="active-pill"><span>Hello Component</span></a>
        <a class="pill" routerLink="for-directive"      routerLinkActive="active-pill"><span>For Directive Component</span></a>
        <a class="pill" routerLink="if-directive"       routerLinkActive="active-pill"><span>If Directive Component</span></a>
        <a class="pill" routerLink="switch-directive"   routerLinkActive="active-pill"><span>Switch Directive Component</span></a>
        <a class="pill" routerLink="ngmodel-directive"  routerLinkActive="active-pill"><span>NgModel Directive Component</span></a>
        <a class="pill" routerLink="ngclass-directive"  routerLinkActive="active-pill"><span>NgClass Directive Component</span></a>
        <a class="pill" routerLink="form"               routerLinkActive="active-pill"><span>Form Component</span></a>
        <a class="pill" routerLink="pipes"              routerLinkActive="active-pill"><span>Pipes Component</span></a>
        <a class="pill" routerLink="register"           routerLinkActive="active-pill"><span>Register Component</span></a>
        <a class="pill" routerLink="login"              routerLinkActive="active-pill"><span>Login Component</span></a>
        <a class="pill" routerLink="angular-rbac"       routerLinkActive="active-pill"><span>Angular Rbac Component</span></a>
        <a class="pill" routerLink="cookie"             routerLinkActive="active-pill"><span>Cookie Component</span></a>
        <a class="pill" routerLink="list"               routerLinkActive="active-pill"><span>List Component</span></a>

      </div>
    </div>
  </div>
</main>